---
---

<!DOCTYPE html>
<html class="">
    {% include head.html %}
    <body id="curriculum">
      {% include other-top-nav.html currentPage='curriculum' %}
          {% include curriculum/curriculum.html %}
          {% include curriculum/curriculum-resources.html %}
        {% include js.html %}

        <script>
        // $(document).ready(function(){
        //   $(window).scroll({ previousTop: 0},
        //     function () {
        //       var currentTop = $(window).scrollTop();
        //       if (currentTop < this.previousTop) {
        //         $('.navbar-default').fadeIn(500);
        //       } else {
        //         $('.navbar-default').fadeOut(500);
        //       }
        //       this.previousTop = currentTop;
        //   });
        // });
        </script>
    </body>
</html>
