---
---

<!DOCTYPE html>
<html class="">
    {% include head.html %}
    <body id="home">
        {% include index-top-nav.html %}
        {% include hero.html %}
        {% include about.html %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span class="copyright">Published under the Apache License 2.0.</span>
                    </div>
                </div>
            </div>
        </footer>

        {% include js.html %}
        <script>
            // navbar fade in and out
            $(document).ready(function() {
                $(window).scroll(function() {
                    if ($(this).scrollTop() > 200) {
                        $('.navbar-default').fadeIn(500);
                    } else {
                        $('.navbar-default').fadeOut(500);
                    }
                });
            });
        </script>
    </body>
</html>
