<section>
    <div class="container">
        <div class="row">
            <div class="content col-sm-10 col-md-7 col-lg-7 col-xl-7 vcenter">
                <h2 class="section-heading">Keeping It Confident</h2>
                <div class="section-body">
                    <p>One of the most important parts of a safe sex life is confidence. Many women are shamed for being sexually active, and there is still a negative stigma often associated with these women.</p>
                    <p>This section is dedicated to empowerment. As a young independent woman, it is your choice and privilege to embrace not only your sexuality, but also your body and self.</p>
                    <p>Here are a few personal stories from strong, confident, successful women.
                      <br>We hope that these can inspire you to feel the same about yourself, because you are a beautiful human being.
                    </p>
                    <p>You don't have to have a different partner every other night. You don't have to be monogamous either. You don't even have to get physical with anyone, ever.
                      <br>Being confident with yourself doesn't just mean being sexually confident, but being proud of who you are inside and out.</p>
                      <p>The point is, that it's your body, and it's yours to dictate however you please.
<br>So do it proudly.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="intro-btn"><a href="#confidence-stories" class="page-scroll btn enter-btn grow">Stories</a></div>
    </div>

    

</section>
