<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-7 col-lg-7 col-xl-7 vcenter">
                <h2 class="section-heading">Credits</h2>
                <div class="section-body">
                    <p>
                        We hope you've learned a lot from this site. <br> Whether it's about self-confidence, STDs, or unplanned pregnancy, they're all things to know before embarking on a sexcapade. <br> Just remember to have fun and be safe; do what
                        and who you want to do, just wear a condom.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% include arrow.html arrow-link='credits-thankyou' vcenter='vcenter' %}
</section>

<section>
    <div class="container">
        <div class="row" id="credits-thankyou">
            <div class="col-sm-10 col-md-7 col-lg-7 col-xl-7 vcenter">
                <h2 class="section-heading">Thank You</h2>
                <div class="section-body">
                    <p>
                        To our mothers, for giving birth to us and carrying us for 9 months.<br> To the strong female influences in our lives - you rock.<br> To the men, who've made us feel ugly, beautiful, and crazy all at the same time.<br> To all the
                        young ladies. We know it's hard being a woman, and we just want you to know that you are strong and beautiful and deserve everything in life.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
