<section>
    <div class="container">
        <div class="row">
            <div class="content col-sm-10 col-md-7 col-lg-7 col-xl-7 vcenter">
                <h2 class="section-heading">Resources</h2>
                <div class="curriculum-body">
                    <p>
                      This isn't a legitimate guidebook for your 6th grade teacher to follow. This isn't meant to be used to teach the youngsters about the birds and the bees. We are not sex educators and we don't work for the government. Like we've said before, this is just a place for young ladies looking for advice and references.
                    </p>
                    <p>
                      So, that's what this pages is - references for your local wise-woman giving good advice to her lady friends.
                    </p>
                    <p><a href="https://www.plannedparenthood.org/educators/implementing-sex-education">Implementing Sex Education</a></p>
                    <p><a href="http://www.tandfonline.com/toc/wajs20/current">American Journal of Sex Education</a></p>
                    <p><a href="https://www.plannedparenthood.org/educators/program-evaluation-tools/planning-evaluation">Planning Evaluation</a></p>
                    <p><a href="http://www.scarleteen.com">Scarleteen Sex Education</a></p>
                    <p><a href="http://www.refinery29.com/2016/12/131205/intellectual-disabilities-sexual-assault-statistics-sex-education">Refinery 29</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
