<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.data.settings.seo.description }}">
    <meta name="author" content="Kelsey Fuentez">
    <title>Safe Sex</title>
    <link href="/assets/css/bootstrap-v3.3.7/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/jquery.form-validator-v2.3.44/theme-default.min.css" rel="stylesheet">

    <link href="/assets/css/font-awesome-v4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>
