<section>
    <div class="container">
        <div class="row group" id="scenarios">
            <div class="col-sm-10 col-md-7 col-lg-7 col-xl-7">
                <h2 class="section-heading">Scenarios</h2>
                <div class="section-body">
                    <p>Just like any situation, you don't know how you're going to act until you're in it. There are several incidents where a bad experience may accidentally happen, so we want to help you see these incidents and know how it can be prevented.
                    </p>
                    <p>
                        Follow along and click the answers for feedback.
                    </p>
                </div>
            </div>
        </div>
        <div class="row subgroup" id="gina">
            <div class="col-sm-10 col-md-7 col-lg-7 col-xl-7">
                <h4 class="section-subtitle">Gina</h4>
                <div class="section-subody">
                    <p>
                        You and a few girl friends went together to a house party, because your friend Gina really really wants to see Matt, who will also be there. You and your friends have a few drinks and are talking with Matt and a few other guys on the couch.<br>Matt
                        and Gina start getting close - really close. And Gina starts getting drunk - really drunk. Matt pulls Gina up and starts carrying her off to a room. What do you do?
                        <p>​
                            <div class="scenario-answer" data-id="1-a">A) Nothing. Gina is a grown woman. Get it, girl!</div>
                            <div class="scenario-answer" data-id="1-b">B) Stop Matt and tell him you think it's time for Gina and your friends to head home. She'll call him tomorrow.</div>
                            <div class="scenario-answer" data-id="1-c">C) Throw a bottle at Matt's head and yell "rape!"</div>
                            ​</p>
                        <p>
                            <div class="scenario-description" id="1-a" style="display: none">Some girls don't like to be interfered with when they're with a guy, that's fine. But, Gina is far too drunk to have safe consensual sex. This could prevent her from possible rape or an accidental pregnancy, or just a bad experience.
                                Drunk sex is not fun sex.</div>
                            <div class="scenario-description" id="1-b" style="display: none">This is probably the safest way to go. Gina will probably be mad and call you a cock block, but hey, when she wakes up in the morning knowing she got home safely, you'll be her real mvp.</div>
                            <div class="scenario-description" id="1-c" style="display: none">Don't be that guy.</div>
                        </p>
                    </p>
                </div>
            </div>
        </div>
        <div class="row subgroup" id="unwanted-pressure">
            <div class="col-sm-10 col-md-7 col-lg-7 col-xl-7">
                <h4 class="section-subtitle">Unwanted Pressure</h4>
                <div class="section-subody">
                    <p>
                        You and your boyfriend have been dating a few months now. He's a great guy and your family loves him. But lately, he's been pressuring you to have sex without a condom. You both agree that it feels better, but you aren't on the pill, and you don't want
                        to risk an unplanned pregnancy. You've told him you prefer using condoms but he insists on going without. What do you do?
                        <div class="scenario-answer" data-id="2-a">A) Dump him. He should respect your body and choices.</div>
                        <div class="scenario-answer" data-id="2-b">B) Just keep having sex the way he wants. He pulls out, and you don't want to fight.</div>
                        <div class="scenario-answer" data-id="2-c">C) Firmly tell him you won't have sex unless he uses a condom. You still want to be with him but you refuse to have unsafe sex.</div>
                        ​</p>
                    <p>
                        <div class="scenario-description" id="2-a" style="display: none">Sure, maybe it's not worth the fight. Sometimes it's just best to agree to disagree, and you can find someone else who holds the same views as you.</div>
                        <div class="scenario-description" id="2-b" style="display: none">Pulling out doesn't always work. Pre-cum does contain some sperm, and it's not even guaranteed that he always pulls out in time.</div>
                        <div class="scenario-description" id="2-c" style="display: none">Stand your ground. You know that safe sex is important, and if he wants this relationship to work, he will compromise with you.</div>
                    </p>
                    </p>
                </div>
            </div>
        </div>
        <div class="row subgroup" id="get-checked">
            <div class="col-sm-10 col-md-7 col-lg-7 col-xl-7">
                <h4 class="section-subtitle">Get Checked</h4>
                <div class="section-subody">
                    <p>
                        Your first semester of college is over and you've gone home for winter break. It's been fun. You've made lots of friends and had lots of flings.<br>One day, you notice a small bump on your vagina. You start to panic, but you know
                        you've used a condom every time, and all the guys you were with swore they were clean. You're from a really small town so if you go to any clinic, everyone will find out.
                        <br>What do you do?
                        <div class="scenario-answer" data-id="3-a">A) Go to a clinic anyways. You can even go to a clinic somewhere else if you're that worried about small-town gossip.</div>
                        <div class="scenario-answer" data-id="3-b">B) Just brush it off. It's probably an inanswer-grown hair.</div>
                        <div class="scenario-answer" data-id="3-c">C) Call the last guy you slept with and ask if he has any STD.</div>
                        ​</p>
                    <p>
                        <div class="scenario-description" id="3-a" style="display: none">Great idea. Condoms are not 100% guaranteed to protect from STDs, and just because a guy says he is clean, doesn't mean he is. You shouldn't be embarrassed by STD testing; it's a regular, healthy thing that every sexually active
                            woman should do for her own safety.</div>
                        <div class="scenario-description" id="3-b" style="display: none">Maybe, but testing can be quick, inexpensive, and sometimes free. Better safe than sorry.</div>
                        <div class="scenario-description" id="3-c" style="display: none">This could give you peace of mind, but it won't help your case much. Even if he does have an STD, you could have gotten it from someone else before him; depending on how many sexual partners you've had, tracking down the root of
                            the infection can be really hard.</div>
                    </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
