<section>
  <div class="container">
    <div class="row group" id="stds">
      <div class="col-sm-10 col-md-7 col-lg-7 col-xl-7">
        <h2 class="section-heading">STDs</h2>
        <div class="section-body">
            <p>STDs are common. So common that more than <a href="http://www.ashasexualhealth.org/stdsstis/statistics/">half</a> the population will have one at some point in their lives. So, more than likely, one of the guys you're into right now has something. And that's okay. Just remember to be safe and only do what you're comfortable with.</p>
            <p>To help out, we've made a list of some of the most common STDs and their symptoms. We've also referenced a few sites for the more curious ones.</p>

        </div>
      </div>
    </div>
  </div>
</section>
