<section>
    <div class="container">
        <div class="row group" id="pregnancy">
            <div class="col-sm-10 col-md-7 col-lg-7 col-xl-7">
                <h2 class="section-heading">Pregnancy</h2>
                <div class="section-body">
                    <p>There are about <a href="https://thenationalcampaign.org/data/landing">229,888</a> teen births in the country, and <a href="https://thenationalcampaign.org/data/landing">45%</a> of them are unplanned. </p>
                    <p>Pregnancy can be scary. Maybe it's your first year in college and you want to experience your entire class roster; you don't want a baby ruining that for you. Or maybe you do want to start a family, in that case, this is probably not
                        the site for you.</p>
                    <p>A lot of young women and men aren't aware of the many types of birth control. Most don't realize how easily accessible they are. And some just don't want to bother using them.
                    </p>
                    <p>So here are some facts and resources about all types of contraception, and some basic information regarding accidental pregnancy, because you deserve to have fun without being scared.</p>
                </div>
            </div>
        </div>
    </div>
</section>
