<section>
    <div class="container">
        <div class="row group" id="plans">
            <div class="col-sm-10 col-md-7 col-lg-7 col-xl-7">
                <h2 class="section-heading">Plans B, C, and D</h2>
                <div class="section-body">
                    <p>So you messed up. Maybe your birth control method didn't work, or maybe you forgot. It's not the end of the world. Here are some options to keep in mind.</p>
                    <div class="pregnancy-interact" data-id="EmergencyContraceptives"> Emergency Contraceptives</div>
                    <div class="pregnancy-interact-descrip" id="EmergencyContraceptives" style="display: none"> Many of us have woken up one morning realizing we didn't use a condom the night before. It's okay. Luckily, Plan B is super easy to get from a pharmacy. Of course, there are other types you can read about
                        <a href="https://www.plannedparenthood.org/learn/morning-after-pill-emergency-contraception">here.</a>
                    </div>

                    <div class="pregnancy-interact" data-id="Abortion"> Abortion</div>
                    <div class="pregnancy-interact-descrip" id="Abortion" style="display: none"> Abortions are a lot more common than you may think. Actually, about 3 in 10 women have had one. We aren't encouraging you to get an abortion, but we want you to know it's not wrong. Your body is your property, and you should be in
                        charge of it.
                        <br>Check out these references for more information:
                        <br><a href="https://prochoice.org/education-and-advocacy/about-abortion/abortion-facts/">Pro Choice: Abortion Facts</a>
                        <br><a href="https://www.plannedparenthood.org/learn/abortion">Planned Parenthood: Abortion</a>
                    </div>

                    <div class="pregnancy-interact" data-id="Adoption"> Adoption</div>
                    <div class="pregnancy-interact-descrip" id="Adoption" style="display: none"> Adoption is also a great alternative to having a child. In fact, about <a href="http://www.pregnantpause.org/adopt/wanted.htm">58,000</a> kids are adopted each year. Being pregnant might not affect your life, but having and raising
                        a child could.
                        <br>There are plenty of resources and clinics you could research for adoption options, but here are a few:
                        <br><a href="http://www.americanadoptions.com">American Adoptions</a>
                        <br><a href="https://www.plannedparenthood.org/learn/pregnancy/pregnant-now-what/adoption">Planned Parenthood: Adoption</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
