<section>
    <div class="container">
        <div class="row group" id="std-charts">
            <div class="col-sm-10 col-md-7 col-lg-7 col-xl-7">
                <h3 class="section-heading">Charts</h3>
                <div class="section-body">
                  <p>Read our chart for some info on the most common types of STDs that we got from the <a href="http://www.cdc.gov/std/default.htm">CDC</a>, which we highly recommend taking a look at.</p>

                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>How Could I Get It?</th>
                          <th>What Does it Look Like?</th>
                          <th>How Do I Get Rid of It?</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Chlamydia</td>
                          <td>vaginal, oral, anal</td>
                          <td>no symptoms, fever, abdominal pain, vaginal discharge
                          </td>
                          <td>prescribed medication</td>
                        </tr>
                        <tr>
                          <td>Genital Herpes</td>
                          <td>vaginal, anal, oral</td>
                          <td>no symptoms, blisters or sores, burning when peeing</td>
                          <td>no cure, medication to prevent outbreaks</td>
                        </tr>
                        <tr>
                          <td>Gonorrhea</td>
                          <td>vagina, anal, oral</td>
                          <td>no symptoms, pain or burning when peeing, vaginal discharge, bleeding between periods</td>
                          <td>prescribed medication</td>
                        </tr>
                        <tr>
                          <td>Syphilis</td>
                          <td>vaginal, oral, anal</td>
                          <td>bodily sores</td>
                          <td>prescribed medication</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
