<section>
    <div class="container">
        <div class="row" id="confidence-stories">
            <div class="col-sm-10 col-md-7 col-lg-7 col-xl-7 vcenter">
                <h2 class="section-heading">Take it from Them</h2>
                <div class="section-body">
                    <p><i>The word "slut" is derogatory. It suggests easiness, STDs, and acting cheap. Seriously, forget all that. Having many sexual partners is part of living a full and rich life. You learn so much from all the people you meet and explore sexual terrain with. There is nothing as intimate as getting intimate.</i>
                        <br> <a href="https://www.thrillist.com/sex-dating/nation/slut-shaming-life-lessons-how-sex-positivity-helps-mental-health">-Gigi, writer</a></p>
                    <p><i>Safe sex is having babies only if and when we want them. Safe sex is protecting our bodies from disease or infection at any age or stage of the game. Safe sex is when you want it. Safe sex is you in charge of you.</i>
                        <br><a href="http://www.wellandgood.com/good-advice/fearless-women-sex-advice/slide/6/">-Meika, co-founder of Sustain</a></p>
                    <p><i>The one person that needs convincing that your body is lovable is you. Loving yourself necessarily includes a positive body image. Perfect or not, it needs your support, acceptance and loving care in order to truly feel good about yourself</i>
                        <br> <a href="http://www.huffingtonpost.com/janet-blair-page/love-yourself-love-your-body_b_4009243.html">-Janet, author</a></p>
                    <p><i>Yes, we do still live in a world in which rejection is often met with hostility and even aggression, and it’s not always safe for a woman to tell a street harasser or would-be suitor exactly what she’s thinking. But safety and the need to please can be separated</i>
                        <br><a href="http://www.refinery29.com/2016/03/107148/dating-confidence-how-to-say-no">-Hayley, editor</a></p>
                    <p><i>When I stand at the barre to begin my weekly ballet class, I am reminded that loving my body is both difficult and important. As we go through the usual warm-up routine I feel my muscles stretch and flex. I am present in my body, and I appreciate the grace and flow of movements. As we transition into leaps and jumps, I am reminded of that power in my body.</i>
                        <br><a href="http://www.rolereboot.org/life/details/2012-02-my-fat-beautiful-body">-Jenn, author</a></p>
                </div>
            </div>
        </div>
    </div>
</section>