<section>
    <div class="container">
        <div class="row">
            <div class="content col-sm-10 col-md-7 col-lg-7 col-xl-7 vcenter">
                <h2 class="section-heading">Keeping It on the Curriculum</h2>
                <div class="section-body">
                    <p>
                      Sex education is so important not only to our children, but also to our growing young adults. There has long been a lack of proper sex education and instead an emphasis on abstinence. This has repeatedly shown to increase teen pregnancy and STD rates.
                    </p>
                    <p>
                      As a part of our goal, we would like to help our audience become educators themselves and spread the knowledge to their friends and families.
                    </p>
                    <p>
                      Our hope is that these references can be used by young adults, campus advisors, concerned friends, or just anyone seeking to gain and share this information.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% include arrow.html arrow-link='curriculum-resources' vcenter='vcenter' %}
</section>
