<section>
    <div class="container">
        <div class="row subgroup" id="contraceptives">
            <div class="col-sm-10 col-md-7 col-lg-7 col-xl-7">
                <h3 class="section-heading">Preventing Reproduction</h3>
                <div class="section-body">
                    <p>
                      We're no doctors. We can't tell you which birth control is best for you, but we can give you a small run down of a few popular ones. (click for a description)
                    </p>
                    <p>
                        <div class="pregnancy-interact" data-id="implant"> implant</div>
                        <div class="pregnancy-interact-descrip" id="implant" style="display: none"> A small, thin plastic implant that's inserted in the upper arm.<br>Pros:<br>prevents pregnancy for up to 4 years<br>you don't have to remember to take a pill everyday<br>Cons:<br>may cause irregular bleeding</div>

                        <div class="pregnancy-interact" data-id="patch"> patch</div>
                        <div class="pregnancy-interact-descrip" id="patch" style="display: none"> Just a small square that you stick on your skin, kind of like a band-aid.<br>Pros:<br>convenient weekly switch-out<br>no prescription needed<br>Cons:<br>may cause irregular bleeding</div>

                        <div class="pregnancy-interact" data-id="pill"> pill</div>
                        <div class="pregnancy-interact-descrip" id="pill" style="display: none"> Just a good ol' pill you pop in daily.<br>Pros:<br>easy to attain from the doctor<br>no type of insertion procedure<br>Cons:<br>can be easily forgotten<br>prescription is needed</div>

                        <div class="pregnancy-interact" data-id="shot"> shot</div>
                        <div class="pregnancy-interact-descrip" id="shot" style="display: none"> A shot you get at the doctor's every few months.<br>Pros:<br>lasts about 3 months<br>quick and easy procedure<br>Cons:<br>regular doctor visits</div>
                    </p>

                    <p>These are just few of the many kinds of the contraceptives out there. For more details on different kinds, check out this <a href="https://www.plannedparenthood.org/learn/birth-control">site</a>. </p>

                </div>
            </div>
        </div>
    </div>
    {% include arrow.html arrow-link='plans' vcenter='vcenter-safety' %}
</section>
