<section>
    <div class="container">
        <div class="row group" id="std-facts">
            <div class="col-sm-10 col-md-7 col-lg-7 col-xl-7">
                <h3 class="section-heading">What, when, and how</h3>
                <div class="section-body">
                    <p>Half of all sexually active people will contract and STD by age <a href="http://www.ashasexualhealth.org/stdsstis/statistics/">25</a>, and the majority of these people get them from having sex <a href="http://www.cdc.gov/std/hiv/stdfact-std-hiv-detailed.htm">without a condom</a>.</p>
                    <p>STDs have a very negative connotation. People often associate them with whores or sluts, or that frat guy in your math class. The truth is, anyone has some risk of getting an infection or disease, even if it's your first time having
                        sex, and even if you use a condom.</p>
                    <p>Check out these sites for more information:<br> http://www.cdc.gov/std/hiv/default.htm
                        <br> https://smartsexresource.com/about-stis/my-chances
                        <br> http://www.ashasexualhealth.org/stdsstis/statistics/
                    </p>

                </div>
            </div>
        </div>
    </div>
    {% include arrow.html arrow-link='std-charts' vcenter='vcenter-safety' %}
</section>
